body {
    padding-top: 5rem;
}

.profile_card{
    border: 2px solid #eee;
    border-radius: 5px;
    max-width: 500px;
    margin: 0 auto;
}
.profile_meta{
    background-color: #0057ea;
    color: #ffffff;
    border-radius: 5px;
}

.profile_pic{
    height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 10px;
}
.full_name{
    font-size: 20px;
}

.profile_meta p{
    margin: 2px;
}

.profile_centered{
    display: flex;
    flex-direction: column; 
    align-items: center;
    padding: 20px 40px;
    text-align: center;
}

.stats{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 30px;
}

button{
    border: none;
    color: #ffffff;
    background-color: #0057ea;
    padding: 5px 20px;
    border-radius: 5px;
}